/*Global styles*/
* {
    margin: 1vw;
    padding: 0;
    border: none;
    font-family: Bubblegum Sans, fantasy;
}

body{
    background-color:#417295;;
}

/*Header styles*/
header {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 50px;
}
header > i {
    color: #C3E0E5;
    font-size: 2.0rem;
}

header > h1 {
    text-align: center;
    color: #C3E0E5;
    font-size: 2.0rem;
}

/*Instruction-container styles*/
#instruction-container, #game-container, #score-container, #option-choices {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #C3E0E5;
    border-radius: 8px;
    min-height: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

#instruction-container > h2 {
    text-align: center;
    color: #274472;
    flex: 0.1;
}

#instruction-container > p {
    text-align: center;
    color: #274472;
    flex: 0.1;
}

#play-btn, #play-again-btn {
    flex: 0.1;
    background-color: #274472;
    border-radius: 8px;
    color: #C3E0E5;
    height: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    width: 70vw;
}

/*Game-container styles*/
#game-container {
    min-height: 300px;
}

#game-container > p {
    text-align: center;
    color: #274472;
    flex: 0.1;
}

#timer > p {
    text-align: center;
    color: #274472;
    flex: 0.1;
}

#image {
    flex: 0.2;
    width: 80%;
    height: auto;
} 

.choice {
    flex: 1;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #274472;
    color: #C3E0E5;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

/*Score-container styles*/
#score-container {
    min-height: 200px;
}

#score-container > h2{
    text-align: center;
    color: #274472;
    flex: 0.1;
}

#score-container > p{
    text-align: center;
    color: #274472;
    flex: 0.1;
}

/*Footer styles*/
footer > p {
    color: #C3E0E5;
    text-align: center;
}

#game-container.hide {
    display: none;
}

#score-container.hide {
    display: none;
}

