/*Styling for medium mobile phone devices (screen width between 350px to 450px)*/

/*Generic styles*/
* {
    margin: 1vw;
    padding: 0;
    border: none;
    font-family: "Bubblegum Sans", fantasy;
}

body {
    background-color:#417295;
}

.body-container {
    min-height: 100%;
}

.main-body-container {
    overflow: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.heading-one {
    text-align: center;
    font-size: 2.0rem;
    color: #C3E0E5;
}

.heading-two {
    text-align: center;
    font-size: 1.6rem;
    color: #18A558;
}

.heading-three {
    text-align: center;
    font-size: 1.4rem;
    color: #274472;
}

.paragraph {
    text-align: center;
    font-size: 1.3rem;
    color: #274472;
}

#start-btn,
#tour-again-btn, 
#home-btn, 
.choice-btn {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #274472;
    color: #C3E0E5;
    cursor: pointer;
    width: 85%;
    text-decoration: none;
    margin-bottom: 1vh;
    padding: 1.5vw;
}

#start-btn:hover,
#tour-again-btn:hover, 
#home-btn:hover {
    background-color: #18A558;
}

#instruction-container, 
#game-container, 
#score-container, 
#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #C3E0E5;
    border-radius: 8px;
    width: 97%;
    margin-left: auto;
    margin-right: auto; 
}

/*Header styles*/
header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    min-height: 5vw;
    width: 97%;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 8px;
}

i {
    color: #C3E0E5;
    font-size: 2.0rem;
}

/*Instruction-container style*/
#instruction-container {
    min-height: 70vh;
}

.home-display-img {
    width: 40%;
    height: auto;
}

/*Game-container styles*/
#game-container {
    min-height: 70vh;
}

#landmark-image {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

/*Score-container styles*/
#score-container {
    min-height: 70vh;
}

#score-image {
    width: 60%;
    height: auto;
} 

/*Footer styles*/
#footer {
    height: 1.5vh;
    position: relative;
    margin-top: -2vh;
    clear: both;
}

.footer-paragraph {
    font-size: 1.2rem;
    color: #C3E0E5;
    text-align: center;
}

/*Hide styles*/
.hide {
    display: none;
}

#game-container.hide {
    display: none;
}

#score-container.hide {
    display: none;
}

/*For javascript function buttonColor(choice) style*/
.correct-choice {
    background-color: green;
}

.incorrect-choice {
    background-color: red;
}

/*For javascript function disableChoices*/
button[disabled] {
    opacity: 0.6;
}

/*Media queries for min-screen size 700px*/
@media screen and (min-width:700px) {
    body {
        background-color:black;
    }
    .heading-one {
        font-size: 3.5rem;
    } 
    
    .heading-two {
        font-size: 2.6rem;
    }
    
    .heading-three {
        font-size: 2.4rem;
    }
    
    .paragraph {
        font-size: 2rem;
    }
    
    i {
        font-size: 3.5rem;
    } 

    .home-display-img {
        width: 30vw;
    }

    #start-btn,
    #tour-again-btn, 
    #home-btn
    {
        font-size: 2.2rem;
        margin-bottom: 2vh;
    }

    .choice-btn {
        font-size: 2.3rem;
    } 
    
    #score-image {
        width: 80%;
    }

    .footer-paragraph {
        font-size: 1.5rem;       
}

/*Media queries for min-screen size 900px*/
@media screen and (min-width:900px) {
    body {
        background-color: purple;
    }
    .heading-one {
        font-size: 4rem;
    } 
    
    .heading-two {
        font-size: 3rem;
    }
    
    .heading-three {
        font-size: 2.5rem;
    }
    
    .paragraph {
        font-size: 2.2rem;
    }
    
    i {
        font-size: 4rem;
    } 
    
    #instruction-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
    }

    .score-container-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }

    #start-btn,
    #tour-again-btn, 
    #home-btn
    {
        font-size: 2rem;
        margin-bottom: 2vh;
        width: 20vw;
    } 
    
    .home-display-img {
        width: 30vw;
    }
   
    #choices {
        display: flex;
        flex-direction: row;
    }
    
    #landmark-image {
        width: 40%;
        height: auto;
        border-radius: 8px;
    }

    .choice-btn {
        font-size: 2rem;
    } 
    
    #score-image {
        width: 40vw;
    }

    .footer-paragraph {
        font-size: 1.8rem;       
}